<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/pipoCSS.css' %}" rel="stylesheet" type="text/css"> 


    <title>pipo</title>

</head>
<body>
{% include "header.html" %} 
        <div id="tab-menu">
            <ul>
                <li class="active"><a href="#">원본</a>
                    <div> <img src="https://media.istockphoto.com/photos/beautiful-white-flowers-of-cotton-plant-on-rough-textural-linen-cloth-picture-id1334841493?b=1&k=20&m=1334841493&s=170667a&w=0&h=wRXlED932nZMx43K31CEsp3tA3fG_5ChefMLW9Ut1_M=" alt=""></div>
                </li>
                <li><a href="#">유화</a>
                    <div><img src="https://cdn.pixabay.com/photo/2022/02/19/07/17/tree-blossoms-7022041_960_720.jpg" alt=""></div>
                </li>
                <li>
                    <a href="#">도안</a>
                    <div>
                        <ul>
                             <center>
                            <text>&nbsp;&nbsp;도안을 받을 이메일을 작성해주세요 &nbsp;&nbsp;<br></text>
                            <input type="text" name="str_email01" id="str_email01" class="email_input">
                            &nbsp; @ &nbsp;
                            <input type="text" name="str_email02" id="str_email02" style= disabled value="naver.com" class="email_input"> 
                            <select style="width:120px; height: 34px; margin: 4px;" name="selectEmail" id="selectEmail">
                                <option value="1">직접입력</option> 
                                <option value="naver.com" selected>naver.com</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="hotmail.com">hotmail.com</option> 
                                <option value="nate.com">nate.com</option>
                                <option value="yahoo.co.kr">yahoo.co.kr</option> 
                                <option value="empas.com">empas.com</option> 
                                <option value="dreamwiz.com">dreamwiz.com</option>
                                <option value="freechal.com">freechal.com</option>
                                <option value="lycos.co.kr">lycos.co.kr</option>
                                <option value="korea.com">korea.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="hanmir.com">hanmir.com</option>
                                <option value="paran.com">paran.com</option>
                            </select>

                            <br>
                               
                                <button class="button">이메일로 보내기</button>
                                </center>

                            <p> 
                                파일 도안은 파일크기에따라 5분에서 최대 30분까지 작업이 소요됩니다. <br>
                                완성된 파일은 작업이 완료되면(파일 확장자명 넣기) 이메일로 보내드립니다. <br>
                                이용해 주셔서 감사합니다. <br>
                            </p>  
                        </ul>
                    </div> 
                </li>
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>   
    <script src="{% static 'js/pipoJS.js' %}" ></script>
</body>
</html>