* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.stepper-wrapper {
  margin-top: 10vh;
}

body {
  background-size: cover;
  font-size: 25px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
}

#tab-menu {
  width: 90vw;
  background: #fbd1d3;
  position: absolute;
  left: 50%;
  top: 20vh;
  transform: translatex(-50%);
  border-radius: 4px;
}

#tab-menu ul {
  overflow: hidden;
}

#tab-menu li {
  float: left;
  width: 20vw;
  text-align: center;
}

#tab-menu li a {
  display: block;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 1rem;
}

#tab-menu li.active a {
  border-bottom: 3px solid #fff;
  color: #766dc1;
}

#tab-menu li div {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  left: 0;
  top: 6vh;
  background: rgba(255, 255, 255, 0.3);
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  min-height: 200px;
}

#tab-menu li div img {
  width: 100%;
}

.email_input {
  width: 150px;
  height: 30px;
  margin: 4px;
}

#tab-menu li div ul p {
  text-align: center;
  font-size: 10px;
}

.button {
  width: 170px;
  height: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #fff;
  background-color: #ebb2d6;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 20px;
}

.button:hover {
  background-color: #f198af;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.message {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

<<<<<<<< HEAD:static/pipo_static/pipoCSS.css
@media (min-width:425px) {
========
@media (min-width: 425px) {
>>>>>>>> 7309de61eca967f352f8326c1ba7af4e88eedca4:static/pipo/css/pipo.css
  #tab-menu {
    width: 70vw;
    background: #fbd1d3;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translatex(-50%);
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  #tab-menu {
    width: 70vw;
    background: #fbd1d3;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translatex(-50%);
    border-radius: 4px;
  }

  #tab-menu li div ul p {
    text-align: center;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #tab-menu {
    width: 60vw;
    background: #fbd1d3;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translatex(-50%);
    border-radius: 4px;
  }

  #tab-menu li div ul p {
    text-align: center;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  #tab-menu {
    width: 45vw;
    background: #fbd1d3;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translatex(-50%);
    border-radius: 4px;
  }
  #tab-menu li div ul p {
    text-align: center;
    font-size: 18px;
  }
}