* {
  font-family: "Gothic A1", sans-serif;
}
header {
  background: #9f81cd;
  margin: 0 auto;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  z-index: 1000;
}
.logo {
  width: 120px;
}
.logo img {
  display: block;
  width: 120px;
}
