<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/drawapp/css/scroll.css"/>
</head>
<body>
<div class="container">
    <header class="hidden">
        <h1>On Scroll Effect Layout</h1>
        <div id="main-img">
            <img src="/static/drawapp/img/03.jpg" alt="img01" style="width: 70vw; height: auto;">
            <img src="/static/drawapp/img/02.jpg" alt="img01" style="width: 15vw; height: auto; margin-bottom: 50vh">
        </div>
    </header>
    <div id="cbp-so-scroller">
        <section class="fade-left">
            <article class="cbp-so-side cbp-so-side-left">
                <h2>그려보기</h2>
                <p>나만의 풍경을 직접 만들어 보세요!</p>
            </article>
            <figure class="cbp-so-side cbp-so-side-right">
                <img src="/static/drawapp/img/04.png" alt="img01" style="width: 50vw">
            </figure>
        </section>
        <section class="cbp-so-section">
            <figure class="cbp-so-side cbp-so-side-left">
                <img src="/static/drawapp/img/01.png" alt="img01">
            </figure>
            <article class="cbp-so-side cbp-so-side-right">
                <h2>나만의 예술작품</h2>
                <p>내가 원하는 사진을 나만의 예술작품으로 만들어 보세요!</p>
            </article>
        </section>
        <section class="fade-right">
            <article class="cbp-so-side cbp-so-side-left">
                <h2>DIY 피포 페인팅</h2>
                <p>원하는 작품을 직접 그려볼까요?</p>
            </article>
            <figure class="cbp-so-side cbp-so-side-right">
                <img src="/static/drawapp/img/01.png" alt="img01">
            </figure>
        </section>
    </div>
</div>
</body>
<script src="/static/drawapp/js/scroll.js"></script>
</html>