<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>GauGAN | Landscape Sketch</title>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/atrament.js/1.0.0/atrament.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- JQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
{% include 'header.html' %}
<div id="root"></div>
<link rel="stylesheet" href="/static/drawapp/css/drawpage.css"/>
<script type="text/babel" src="/static/drawapp/js/drawpage.js"></script>
</body>

</html>