<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <!--css-->
    {% load static %}
    <link href="{% static 'drawapp/select_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'drawapp/progress.css' %}" rel="stylesheet" type="text/css">
{#    <link href="static/css/select_style.css" rel="stylesheet" type="text/css">#}
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <img src="{% static 'drawapp/logo.png' %}" alt="/">
    </div>
    <div class="stepper-wrapper">
        <div class="stepper-item completed">
            <div class="step-counter">1</div>
            <div class="step-name">파일 업로드</div>
        </div>
        <div class="stepper-item active">
            <div class="step-counter">2</div>
            <div class="step-name active">스타일 고르기</div>
        </div>
        <div class="stepper-item">
            <div class="step-counter">3</div>
            <div class="step-name">이메일 입력</div>
        </div>
    </div>
    <div class="container">
        <div class="style-container">
            <div class="select-style">
                <p>스타일</p>
            </div>
            <ul class="style-list">
                <li>
                    <span>&#9660; 원본</span>
                    <img alt="original" id="original" src="..."/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/1.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/4.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/10.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/15.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/20.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/22.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/23.jpg"/>
                </li>
                <li>
                    <img src="https://sparta-team4-project.s3.ap-northeast-2.amazonaws.com/style/25.jpg"/>
                </li>
            </ul>
        </div>

        <div class="stylized">
            <p>확인</p>
            <div id="box">
            </div>
            <div id="confirm">
                <img id="stylized-image" src=""/>
                <div id="btn" onclick="location.href='/pipo'">&#10142;</div>
            </div>
        </div>
    </div>


    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!--js-->
    <script src='{% static 'drawapp/select_style.js' %}'></script>
{#    <script src='static/js/select_style.js'></script>#}
</body>
</html>