<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <!--css-->
    {% load static %}
    <link href="{% static 'drawapp/select_style.css' %}" rel="stylesheet" type="text/css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <span class="logo">DrawImg</span>
    </div>
    <div class="stepper-wrapper">
        <div class="stepper-item completed">
            <div class="step-counter">1</div>
            <div class="step-name">파일 업로드</div>
        </div>
        <div class="stepper-item active">
            <div class="step-counter">2</div>
            <div class="step-name active">스타일 고르기</div>
        </div>
        <div class="stepper-item">
            <div class="step-counter">3</div>
            <div class="step-name">이메일 입력</div>
        </div>
    </div>
    <div class="container">
        <div class="style-container">
            <div class="select-style">
                <p>스타일</p>
            </div>
            <ul class="style-list">
                <li>
                    <img src="https://kr.painting-planet.com/images/image264_0.jpg"/>
                </li>
                <li>
                    <img src="https://cphoto.asiae.co.kr/listimglink/6/2018052511223347562_1527214954.jpg"/>
                </li>
                <li>
                    <img src="https://storage.googleapis.com/download.tensorflow.org/example_images/Vassily_Kandinsky%2C_1913_-_Composition_7.jpg"/>
                </li>
                <li>
                    <img src="https://kr.painting-planet.com/images/image264_0.jpg"/>
                </li>
                <li>
                    <img src="https://cphoto.asiae.co.kr/listimglink/6/2018052511223347562_1527214954.jpg"/>
                </li>
                <li>
                    <img src="https://cphoto.asiae.co.kr/listimglink/6/2018052511223347562_1527214954.jpg"/>
                </li>
                <li>
                    <img src="https://storage.googleapis.com/download.tensorflow.org/example_images/Vassily_Kandinsky%2C_1913_-_Composition_7.jpg"/>
                </li>
                <li>
                    <img src="https://kr.painting-planet.com/images/image264_0.jpg"/>
                </li>
                <li>
                    <img src="https://cphoto.asiae.co.kr/listimglink/6/2018052511223347562_1527214954.jpg"/>
                </li>
            </ul>
        </div>
        <div class="original">
            <p>원본</p>
            <img src="https://storage.googleapis.com/download.tensorflow.org/example_images/YellowLabradorLooking_new.jpg"/>
        </div>
        <div class="stylized">
            <p>확인</p>
            <div id="box">
            </div>
            <div id="confirm">
                <img id="stylized-image" src=""/>
                <div id="btn">&#10142;</div>
            </div>
        </div>
    </div>


    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!--js-->
    <script src='{% static 'drawapp/select_style.js' %}'></script>
</body>
</html>