/* 모바일 화면 */
@media screen and (max-width: 73.5em) {

    .container .head {
        display: none
    }

    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .container .cbp-so-section {
        margin: 200px 0 50px 0;
        position: relative;
    }

    .container footer {
        order: -1;
        background: #9F81CD;
        position: relative;
        height: 100vh;
    }

    /* 이미지 흐리게 */
    .container footer .upload-box .fade-up::before {
        background-image: url("/static/drawapp/img/03.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
        content: "";
        height: 100vh;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .container footer .upload-box .fade-up .drag-area {
        margin-top: 50px;
        position: relative;
    }

    .container footer .upload-box .fade-up .drag-area > button{
        margin-top: 100px;
    }

    .container footer .upload-box .fade-up #here, span {
        display: none;
    }

    .container footer .upload-box .fade-up > button {
        height: 90px;
        width: 220px;
        position: relative;
    }
}
