<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Document</title>
</head>
<body>
    <input type="text" id="img">
    <button onclick="test_sketch()"> 이미지 변경</button>
    <div>
        <img id="img_src" src="" alt="">
    </div>
    <div id="result_imgs">

    </div>
    <button onclick ='test()'>변경</button>

<script>
    function test_sketch(){
        var img = $('#img').val()

        $.ajax({
        url: 'http://127.0.0.1:5000/pipo',
        data: {'url':img},
        method: "POST",
        success: function (response){
            img = response['blur']
            jQuery('#img_src').attr("src",img);
         }
    })
    }


    function test(){
        var src = jQuery('#img_src').attr("src");

        $.ajax({
        url: 'http://127.0.0.1:5000/style',
        data: {'url':src},
        method: "POST",
        success: function (response){
            var imgs = response['result']
            $('#result_imgs').empty()
            for (i=0; i<imgs.length; i++){
                var temp_html = `
                <img src = "${imgs[i]}">
                `
                
                $('#result_imgs').append(temp_html)
            }
        }
    })
    }
</script>
</body>
</html>